;;;
"title": "Projects"
;;;

<!-- <h1 style = "color: #393939;">Software</h1>

<div style = "background-color: white; text-align: center;">

  <%= image_tag "html5.png", :style => "width: 10%; margin: 15px;" %>
  <%= image_tag "css3.png", :style => "width: 10%; margin: 15px;" %>
  <br>
  <%= image_tag "backbone.png", :style => "width: 25%; margin: 15px;" %>
  <%= image_tag "jquery.png", :style => "width: 25%; margin: 15px;" %>
  <br>
  <%= image_tag "rails.png" %>
  <%= image_tag "apple_sdk.png", :style => "width: 10%; margin: 15px;" %>
</div> -->



<h1 style = "color: #393939;">Mathematics</h1>

<br>

<div class="media">
<!--   <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a> -->
  <div class="media-body">
    <h4 class="media-heading">Convectively coupled wave-environment interactions</h4>
    Samuel Stechmann, Andrew Majda, Dmitri Skjorshammer
  </div>
  <br><br>



<!--   <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a> -->
  <div class="media-body">
    <h4 class="media-heading">On a family of K3 surfaces with S4 symmetry</h4>
    Dagan Karp, Jacob Lewis, Daniel Moore, Dmitri Skjorshammer, Ursula Whitcher
  </div>
  <br><br>

<!--   <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a> -->
  <div class="media-body">
    <h4 class="media-heading">Short Tops and Semistable Generations</h4>
    Ryan Davis, Charles Doran, Adam Gewiss, Andrey Novoseltsev, Dmitri Skjorshammer, Alexa Syryczuk, Ursula Whitcher
  </div>
  <br><br>

</div>




